    <!-- Releases Section -->
    <section id="releases" class="content-section text-center">
      <div class="releases-section">
        <div class="container">
          <div class="col-lg-8 col-lg-offset-2">
            <h2>Subscribe on Youtube</h2>
            <p>All of our releases will be posted on the <a target="_blank" href="https://www.youtube.com/c/BayAreaSupermotoOfficial">BASM Official Youtube</a> channel, so do yourself a favor and subscribe. We put good work in!</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/x-A8gYiIcto" frameborder="0" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/W0qeQvBwytc" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </section>
