    <!-- About Section -->
    <section id="stickers" class="container stickers-section content-section text-center">
      <div class="row">
        <div class="tint">
          <h2>Stickers</h2>
          <p>
            Show your support and grab some stickers!<br/>
            $5 gets 5 quality fade and weather resistant die-cut stickers.<br/>
            The catch: you have to ride with us and come pick some up!
          </p>
          <!--
            Are you snooping around hoping to find something cool? If so, here's a link to order the stickers if you're far away:
            https://www.paypal.com/cgi-bin/webscr?business=visible.h4x@gmail.com&cmd=_xclick&currency_code=USD&amount=6&item_name=5%20%28five%29%20die-cut%20BASM%20stickers
          -->

          <!--
          <a href="https://www.stickermule.com/user/1070670403/stickers" target="_blank" class="btn btn-default btn-lg"><span class="network-name">BASM Stickers</span></a>
          -->
        </div>
      </div>
    </section>
